DATABASE_URL="postgres://gong_mcp_reader.PROJECT_REF:PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres"
GOOGLE_CLIENT_ID="xxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-xxx"
COOKIE_ENCRYPTION_KEY="xxx_64_char_hex"
